# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Datasets
data/
*.csv
*.zip

# HuggingFace / cache
.cache/

# Model artifacts
severity_model/
*.pkl
*.bin
*.model
*.safetensors

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
